.subscribe-container{
    margin: 200px 8vw;
    /* border: 1px red solid; */
    border-radius: 35px;
    padding: 6.7vw 14.82vw;
    background-image: linear-gradient(to bottom right, #071441 ,#06113E, #05123E);
}

.subscribe-title{
    color: white;
    text-align: center;
}

.subscribe-description{
    color:#B7B7B7;
    text-align: center;
    margin-top: 40px;;
}



.subscribe-field-container{
 margin-top: 60px;
 margin: 60px 3.7vw 0 3.7vw;
}
.subscribe-field{
 padding-left: 30px;
}

.btn-subscribe{
    font-size: 1.5vw;
    border-radius: 30px;
    margin-left: -12px;
}